<h1>New Account</h1>
<form method='post' action='/new_account'>
  <input name='name' placeholder='Name'>
  <input type='hidden' name='token' value='<%= token %>'>
  <button type='submit'>Submit</button>
</form>
